@model EmprestimosFacilitados.Models.MeuEmprestimo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MeuEmprestimo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MeuEmprestimoId" />
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorEmprestado" class="control-label"></label>
                <input asp-for="ValorEmprestado" class="form-control" />
                <span asp-validation-for="ValorEmprestado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotalQueSerapago" class="control-label"></label>
                <input asp-for="ValorTotalQueSerapago" class="form-control" />
                <span asp-validation-for="ValorTotalQueSerapago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorPago" class="control-label"></label>
                <input asp-for="ValorPago" class="form-control" />
                <span asp-validation-for="ValorPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoEmprestimoId" class="control-label"></label>
                <select asp-for="TipoEmprestimoId" class="form-control" asp-items="ViewBag.TipoEmprestimoId"></select>
                <span asp-validation-for="TipoEmprestimoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QtdParcelasPagas" class="control-label"></label>
                <input asp-for="QtdParcelasPagas" class="form-control" />
                <span asp-validation-for="QtdParcelasPagas" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsEmprestimoQuitado" /> @Html.DisplayNameFor(model => model.IsEmprestimoQuitado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
